html {
	background-color: #e0e0e0;
}

.top-navigation-bar {
	background-color: #333333;
    display: flex;
    justify-content: center;
	
	position: absolute; /* OPTIONAL: Change this from absolute to fixed to make navbar always visible when scrolling. */
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.top-navigation-bar a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.top-navigation-bar a:hover {
	background-color: #e0e0e0;
	color: #333333;
}

.other-socials {
	background-color: #aaaaaa;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	border: 7px solid black;
}

.other-socials table,
.other-socials tr,
.other-socials td {
	/*border: none !important;*/
	text-align: left;
	
	/* Center table in the overarching div */
	margin-left: auto;
	margin-right: auto;
	
	/* Keeps cells from being too close to each other */
	border-spacing: 10px;
}

.conwaylife-logo {
	width: auto;
	height: 18px;
}

.conwaylife-colors {
	background-color: white;
	
	color: black;
	
	font-weight: bold;
	border-radius: 4px;
	padding: 4px;
	
	/* Forces the logo to be aligned vertically */
	display: inline-flex;
	
	gap: 2px;
}

.information-section {
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	border: 7px solid white;
}